@use '/src/styles/constants/colors';

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    height: 720px;
    overflow: hidden;
    background-color: #fafbfe;
    border-radius: 60px;
  }
}
