@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/sizes';

.overlay {
  @include position.absolute([0, 0, 0, 0]);
  @include flexbox.flexbox(center, center);
  z-index: 1;
  background-color: rgba(0, 0, 0, 50%);

  &.hide {
    display: none;
  }

  .content {
    @include flexbox.flexbox(space-evenly, center);
    flex-direction: column;
    width: 250px;
    height: 150px;
    background-color: var(--primary-white1);
    border-radius: sizes.$BORDER_RADIUS_GENERAL;

    .btnWrap {
      @include flexbox.flexbox(between, center);
      width: inherit;
      padding: 0 20px;

      button {
        width: 100px;
        height: 35px;
        font-size: sizes.$FONT_SIZE_REGULAR;
        color: var(--primary-gray);
        background: pink;
        background-image: linear-gradient(#ffffff, #ffffff), var(--primary-lg);
        background-clip: content-box, border-box;
        background-origin: border-box;
        border: 1.5px solid transparent;
        border-radius: 10px;

        &:hover {
          color: var(--primary-white2);
          background-image: var(--primary-lg);
        }
      }
    }
  }
}
