@use '/src/styles/constants/colors';

:root {
  --mainpiont: #5e77e9;
  --text-gray-031: #b0b0b0;
  --gray-scale-gray-024: #c2c2c2;
  --pricetext: #ff1b1b;
  --accent-color-chat-user: #48fefe;
  --accent-color-chat-writer: #feff88;
  --chatsystem-1: #ff5151;
  --chatsystem-2: #b07fff;
  --chatsystem-3: #71df88;
  --chatsystem-4: #df71d4;
  --text-gray-053: #777777;
  --accent-color-link-text: #697dd7;
  --price-text: #ed1919;
  --accent-color-chat-system: #ffa0cb;
  --accent-color-price-text: #ed1919;

  // mine
  --accent-color-pink: #ff3c79;
  --background-0: #000000;
  --background-1: #0e0e18;
  --background-2: #3b3b3f;
  --background-3: rgb(38, 38, 38);
  --text-gray-001: #c2c2c2;
  --text-gray-002: #999999;
  --primary-gray: #666666;
  --primary-white1: #ffffff;
  --primary-white2: #f5f5f5;
  --primary-lg: linear-gradient(135deg, #ff008a, #ff462b);
}

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #ff008a, #ff462b);

  .app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    height: 720px;
    overflow: hidden;
    background: linear-gradient(28deg, var(--background-0) 0%, var(--background-2) 100%);
    border-radius: 60px;
  }
}
