@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/flexbox';

.movieLists {
  height: fill-available;
  padding: 0 20px;
  overflow-y: scroll;
  border-width: 1px 0;

  &.emptyList {
    @include flexbox.flexbox(center, center);

    .noResults {
      color: var(--text-gray-001);
    }
  }

  .loading {
    @include flexbox.flexbox(center, center);
  }
}
