@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/sizes';

.header {
  @include flexbox.flexbox(center, center);
  margin: 33px 0 20px;

  .form {
    @include flexbox.flexbox(center, center);
    border-radius: 13px;

    .searchInput {
      width: 250px;
      padding: 3px 12px;
      color: var(--text-gray-001);
      background-color: var(--primary-gray);
      border-radius: 4px;

      &::placeholder {
        color: var(--text-gray-001);
      }

      &::-webkit-search-cancel-button {
        width: 1em;
        height: 1em;
        pointer-events: none;
        cursor: pointer;
        background-color: white;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 330 330' style='enable-background:new 0 0 330 330;' xml:space='preserve'%3E%3Cg id='XMLID_28_'%3E%3Cpath id='XMLID_29_' d='M165,0C120.926,0,79.492,17.163,48.328,48.327c-64.334,64.333-64.334,169.011-0.002,233.345 C79.49,312.837,120.926,330,165,330c44.072,0,85.508-17.163,116.672-48.328c64.334-64.334,64.334-169.012,0-233.345 C250.508,17.163,209.072,0,165,0z M239.246,239.245c-2.93,2.929-6.768,4.394-10.607,4.394c-3.838,0-7.678-1.465-10.605-4.394 L165,186.213l-53.033,53.033c-2.93,2.929-6.768,4.394-10.607,4.394c-3.838,0-7.678-1.465-10.605-4.394 c-5.859-5.857-5.859-15.355,0-21.213L143.787,165l-53.033-53.033c-5.859-5.857-5.859-15.355,0-21.213 c5.857-5.857,15.355-5.857,21.213,0L165,143.787l53.031-53.033c5.857-5.857,15.355-5.857,21.213,0 c5.859,5.857,5.859,15.355,0,21.213L186.213,165l53.033,53.032C245.104,223.89,245.104,233.388,239.246,239.245z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: contain;
        border-radius: 50em;
        opacity: 0;
        -webkit-appearance: none;
      }

      &:focus::-webkit-search-cancel-button {
        pointer-events: all;
        opacity: 0.3;
      }
    }

    .btn {
      margin-left: 10px;
      @include flexbox.flexbox(center, center);
    }
  }

  .title {
    font-size: sizes.$FONT_SIZE_BIG;
    font-weight: bold;
    color: var(--accent-color-pink);
  }
}
