@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.tab {
  display: flex;
  justify-content: center;
  padding: 17px 0;
  border-bottom: 1px solid #eeeeee;

  ul {
    @include flexbox.flexbox(space-evenly, center);
    width: 100%;
  }

  a {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    color: var(--text-gray-001);

    &.isActive {
      color: var(--accent-color-pink);
    }
  }
}
