@use '/src/styles/constants/colors';

.gnb {
  display: flex;
  justify-content: center;
  padding: 17px 0;
  background-color: red;
  border-bottom: 1px solid #eeeeee;

  ul {
    display: flex;
  }

  li {
    + li {
      margin-left: 14px;
    }
  }

  a {
    padding: 4px 14px;
    color: colors.$GRAY2;

    &.isActive {
      font-weight: 600;
    }
  }
}
