@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/flexbox';

// .movieLists {
//   height: fill-available;
//   padding: 0 30px;
//   // border: 1px solid var(--accent-color-pink);
//   border-width: 1px 0;
// }

.movieLists {
  height: fill-available;
  padding: 0 30px;
  overflow-y: scroll;
  border-width: 1px 0;

  &.emptyList {
    @include flexbox.flexbox(center, center);

    .noResults {
      color: var(--text-gray-001);
    }
  }

  .movieWrap {
    $movieHeight: 65px;
    display: flex;
    justify-content: space-between;
    height: $movieHeight;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: rgba(white, 10%);
    border-radius: sizes.$GLOBAL_BORDER-RADIUS;

    .imgNix {
      width: $movieHeight;
      height: inherit;
      background-color: transparent;
    }

    .movieImg {
      height: inherit;
    }

    .movieInfo {
      width: 150px;
      margin: 10px;
      text-align: end;

      time {
        font-size: 12px;
      }
    }
  }
}
