@use '/src/styles/constants/colors';

.MovieLists {
  height: fill-available;
  padding: 0 30px;
  // border: 1px solid var(--accent-color-pink);
  border-width: 1px 0;
}

.MovieLists {
  overflow-y: scroll;

  .movieWrap {
    $movieHeight: 65px;
    display: flex;
    justify-content: space-between;
    height: $movieHeight;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: rgba(white, 10%);
    border-radius: 10px;
    // opacity: 0.15;

    .imgNix {
      width: $movieHeight;
      height: inherit;
      background-color: transparent;
    }

    .movieImg {
      height: inherit;
    }

    .movieInfo {
      width: 150px;
      margin: 10px;
      text-align: end;

      time {
        font-size: 12px;
      }
    }
  }
}
