@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/flexbox';

.movieLists {
  height: fill-available;
  padding: 0 20px;
  overflow-y: scroll;
  border-width: 1px 0;

  &.emptyList {
    @include flexbox.flexbox(center, center);

    .noResults {
      color: var(--text-gray-001);
    }
  }

  .loading {
    @include flexbox.flexbox(center, center);
  }

  .movieWrap {
    $movieHeight: 150px;
    display: flex;
    justify-content: space-between;
    height: $movieHeight;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: rgba(white, 10%);
    border-radius: sizes.$GLOBAL_BORDER-RADIUS;

    &:hover {
      background-color: rgba(white, 20%);
    }

    .imgNix {
      width: $movieHeight;
      height: inherit;
      background-color: transparent;
    }

    .movieImg {
      height: inherit;
    }

    .movieInfo {
      @include flexbox.flexbox(end, center);
      position: relative;
      width: 150px;
      margin: 10px;
      text-align: end;

      .title {
        margin-bottom: 8px;
        font-size: sizes.$FONT_SIZE_MEDIUM;
        color: var(--text-gray-001);
      }

      time {
        font-size: sizes.$FONT_SIZE_REGULAR;
        color: var(--text-gray-002);
      }
    }
  }
}
